.card{
    border:1px solid grey;
    height:100%px;
    width:75%;
    margin-top:20px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding:10px;
    margin:20px;
    border-radius: 20px;
}

button{
    cursor:pointer;

}
